{:paths ["src" "resources"]
 :deps  {org.clojure/clojure              {:mvn/version "1.10.1"}
         com.stuartsierra/component       {:mvn/version "1.0.0"}
         com.walmartlabs/lacinia          {:mvn/version "0.36.0"}
         com.walmartlabs/lacinia-pedestal {:mvn/version "0.13.0"}
         org.clojure/java.jdbc            {:mvn/version "0.7.11"}
         org.postgresql/postgresql        {:mvn/version "42.2.12"}
         honeysql                         {:mvn/version "1.0.444"}
         nilenso/honeysql-postgres        {:mvn/version "0.2.6"}
         com.mchange/c3p0                 {:mvn/version "0.9.5.2"}
         io.aviso/logging                 {:mvn/version "0.3.2"}}
 :aliases {:outdated {:extra-deps {olical/depot {:mvn/version "1.8.4"}}
                      :main-opts  ["-m" "depot.outdated.main" "-a" "outdated"]}}}